<div class="bar bar-standard bar-header-secondary">
  <form>
    <input type="search" name="s" placeholder="Search">
  </form>
</div>

<check if="{{isset(@data)}}">
  <include href="ui/listing.html" />
</check>

